<!--Footer-->
<div class="row mt-5">
    <div class="col-md-12">
      <div class="card footer">
        <div class="container">
            <div class="card-body footer-body">
                <h5 class="card-title text-white center">The Source</h5>
                <a href="https://github.com/DDDHernandez/TheSource" class="btn social-btn mr-2 text-white center" target="_blank">GitHub Repo</a>
                <a href="https://www.linkedin.com/in/dylan-hernandez-0a6b37ab/" class="btn social-btn text-white center" target="_blank">LinkedIn</a>
                <br><br>
            </div>
        </div>
      </div>
    </div>
</div>